/* Fonst to download, for greek */
/* [FG] seems hard for the network for now, try to download from Google */
div[id^=DGE][class=entry] entry {
  @font-face {
    font-family: 'NewAthenaUnicodeRegular';
    src: url("newathu403-webfont.woff") format("woff"); } }
  div[id^=DGE][class=entry] entry body {
    font-family: "Palatino Linotype", "Times New Roman", 'NewAthenaUnicodeRegular', serif;
    font-size: 15px; }
  div[id^=DGE][class=entry] entry #footer, div[id^=DGE][class=entry] entry #nav, div[id^=DGE][class=entry] entry #langBar, div[id^=DGE][class=entry] entry .tabs, div[id^=DGE][class=entry] entry .num, div[id^=DGE][class=entry] entry .link {
    font-family: "Arial Unicode MS", sans-serif; }
  div[id^=DGE][class=entry] entry body.lemmas a, div[id^=DGE][class=entry] entry body.inverso a, div[id^=DGE][class=entry] entry #DGE, div[id^=DGE][class=entry] entry .grc, div[id^=DGE][class=entry] entry #home, div[id^=DGE][class=entry] entry #header, div[id^=DGE][class=entry] entry .lemma, div[id^=DGE][class=entry] entry #form input, div[id^=DGE][class=entry] entry .prev, div[id^=DGE][class=entry] entry .next {
    font-family: "Palatino Linotype", "Times New Roman", NewAthenaUnicodeRegular, serif; }
  div[id^=DGE][class=entry] entry q, div[id^=DGE][class=entry] entry blockquote, div[id^=DGE][class=entry] entry .cit {
    font-family: "Palatino Linotype", Times, "Georgia", Roman, FreeSerif,  "DejaVu Serif", serif; }
  div[id^=DGE][class=entry] entry html, div[id^=DGE][class=entry] entry body {
    height: 100%;
    margin: 0;
    padding: 0; }
  div[id^=DGE][class=entry] entry * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
  div[id^=DGE][class=entry] entry iframe {
    margin-bottom: -5px;
    margin: 0;
    padding: 0; }
  div[id^=DGE][class=entry] entry table, div[id^=DGE][class=entry] entry pre {
    font-size: inherit; }
  div[id^=DGE][class=entry] entry table {
    border-spacing: 0;
    border-collapse: collapse; }
  div[id^=DGE][class=entry] entry td, div[id^=DGE][class=entry] entry th {
    padding: 0; }
  div[id^=DGE][class=entry] entry div.link {
    float: right; }
  div[id^=DGE][class=entry] entry a img {
    border: none; }
  div[id^=DGE][class=entry] entry sup, div[id^=DGE][class=entry] entry sub {
    height: 0;
    line-height: 1.2em;
    vertical-align: baseline;
    position: relative;
    z-index: inherit;
    font-variant: normal;
    font-size: 75%; }
  div[id^=DGE][class=entry] entry sup {
    _vertical-align: top;
    bottom: 1.2ex;
    font-size: 0.58em; }
  div[id^=DGE][class=entry] entry sub {
    _vertical-align: bottom;
    top: .5ex; }
  div[id^=DGE][class=entry] entry q {
    quotes: "" ""; }
  div[id^=DGE][class=entry] entry tt {
    font-family: "DejaVu Sans Mono", monospace; }
  div[id^=DGE][class=entry] entry h1 {
    color: #B9121A;
    font-weight: normal;
    margin-top: 1ex;
    margin-right: 1ex; }
  div[id^=DGE][class=entry] entry h1 a {
    color: inherit; }
  div[id^=DGE][class=entry] entry h2 {
    color: #006040; }
  div[id^=DGE][class=entry] entry h3 {
    color: #B91219; }
  div[id^=DGE][class=entry] entry h4 {
    color: #004080; }
  div[id^=DGE][class=entry] entry menu {
    font-size: 13px;
    list-style-type: none; }
  div[id^=DGE][class=entry] entry menu li {
    list-style-type: none; }
  div[id^=DGE][class=entry] entry menu a {
    text-decoration: none;
    color: #333; }
  div[id^=DGE][class=entry] entry menu {
    padding: 0;
    margin: 1ex 0px 1ex 1.5em; }
  div[id^=DGE][class=entry] entry menu menu {
    margin-left: 1em;
    padding-left: 1ex; }
  div[id^=DGE][class=entry] entry a {
    text-decoration: none; }
  div[id^=DGE][class=entry] entry a:hover {
    text-decoration: underline; }
  div[id^=DGE][class=entry] entry a:focus {
    outline: none; }
  div[id^=DGE][class=entry] entry form {
    margin: 0; }
  div[id^=DGE][class=entry] entry form label {
    white-space: nowrap; }
  div[id^=DGE][class=entry] entry hr {
    color: #7698C9;
    border-top: none; }
  div[id^=DGE][class=entry] entry hr.entry {
    margin: 4em;
    background-color: #7698C9; }
  div[id^=DGE][class=entry] entry p {
    text-align: justify;
    padding-right: 4em; }
  div[id^=DGE][class=entry] entry body.lemmas p {
    text-align: left;
    margin: 1ex;
    padding: 0; }
  div[id^=DGE][class=entry] entry p.small {
    font-size: 12px; }
  div[id^=DGE][class=entry] entry img.pub {
    margin: 30px 30px 20px 0px; }
  div[id^=DGE][class=entry] entry .clear {
    clear: both; }
  div[id^=DGE][class=entry] entry blockquote q {
    display: block; }
  div[id^=DGE][class=entry] entry dfn {
    font-style: italic;
    font-size: 105%;
    color: #B9121B; }
  div[id^=DGE][class=entry] entry .tr {
    font-family: "Palatino Linotype", Times, "Georgia", Roman, FreeSerif,  "DejaVu Serif", serif; }
  div[id^=DGE][class=entry] entry dfn i {
    font-style: normal;
    color: black; }
  div[id^=DGE][class=entry] entry .tr i {
    font-style: normal;
    color: black; }
  div[id^=DGE][class=entry] entry .b {
    font-weight: bold; }
  div[id^=DGE][class=entry] entry .cit a:hover {
    background: white; }
  div[id^=DGE][class=entry] entry .entry .hilite,
  div[id^=DGE][class=entry] entry mark {
    background: #FFFF80; }
  div[id^=DGE][class=entry] entry .entry {
    padding: 0 0 1em 0; }
  div[id^=DGE][class=entry] entry .sense {
    margin-bottom: 1em;
    padding: 0.5ex 0 0.5ex 1ex; }
  div[id^=DGE][class=entry] entry .sense .sense {
    margin-top: 0.5em;
    text-indent: 2ex; }
  div[id^=DGE][class=entry] entry .sense .sense .sense {
    text-indent: 4ex; }
  div[id^=DGE][class=entry] entry .sense .sense .sense .sense {
    text-indent: 6ex; }
  div[id^=DGE][class=entry] entry div.lmpgcit {
    border-left: solid 1px #B9121B;
    margin-top: 1.5ex; }
  div[id^=DGE][class=entry] entry div.cit {
    display: inline; }
  div[id^=DGE][class=entry] entry blockquote.cit {
    background: #F3F3F3;
    padding: 0.5ex 1ex 0.5ex 1ex;
    text-indent: 0;
    line-height: 105%;
    margin: 0 2em 1ex 0; }
  div[id^=DGE][class=entry] entry .entry blockquote.hilite {
    background: #DADBEF; }
  div[id^=DGE][class=entry] entry div.short div.lmpgcit {
    display: none; }
  div[id^=DGE][class=entry] entry div.short div.sense {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0; }
  div[id^=DGE][class=entry] entry div.short div.sense div.sense {
    margin-top: 0; }
  div[id^=DGE][class=entry] entry .fulltext {
    color: blue; }
  div[id^=DGE][class=entry] entry em .note {
    font-style: normal; }
  div[id^=DGE][class=entry] entry div.bibl {
    text-align: right;
    font-family: "Arial Narrow", sans-serif;
    font-size: 90%; }
  div[id^=DGE][class=entry] entry article.entry header {
    font-size: 24px;
    clear: both; }
  div[id^=DGE][class=entry] entry article.entry header div.form, div[id^=DGE][class=entry] entry article.entry footer {
    padding: 0.2em 0.5em 0.2em 1em;
    border: 1px dotted #e6e6e6;
    text-align: justify;
    font-size: 14px;
    background-color: #EEEEEE;
    color: #333333;
    overflow: auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE',GradientType=0);
    background: -webkit-linear-gradient(top, white, #eeeeee);
    background: -moz-linear-gradient(top, white, #eeeeee);
    background: o-linear-gradient(top, white, #eeeeee); }
  div[id^=DGE][class=entry] entry .alolema label, div[id^=DGE][class=entry] entry .etym label {
    color: #353B90; }
  div[id^=DGE][class=entry] entry .grafia label, div[id^=DGE][class=entry] entry .dmic label {
    color: #006600; }
  div[id^=DGE][class=entry] entry .prosodia label {
    color: #917C4B; }
  div[id^=DGE][class=entry] entry .morfologia label {
    color: #B9121A; }
  div[id^=DGE][class=entry] entry .orth {
    font-weight: bold;
    font-size: 105%; }
  div[id^=DGE][class=entry] entry .lemma, div[id^=DGE][class=entry] entry .lemma2 {
    color: #B9121B;
    font-size: 24px;
    line-height: 15px; }
  div[id^=DGE][class=entry] entry .lemma2 {
    margin-left: 0.5ex; }
  div[id^=DGE][class=entry] entry .latin {
    font-style: italic; }
  div[id^=DGE][class=entry] entry .snip .lemma {
    font-weight: bold;
    font-size: 16px; }
  div[id^=DGE][class=entry] entry .snip th {
    padding: 0 1ex; }
  div[id^=DGE][class=entry] entry .variant {
    line-height: 21px;
    color: #B9121B; }
  div[id^=DGE][class=entry] entry .num {
    color: #353B90;
    font-size: 15px;
    font-weight: bold;
    padding: 0 4px 0 20px; }
  div[id^=DGE][class=entry] entry .start {
    padding-left: 0; }
  div[id^=DGE][class=entry] entry num + num {
    padding-right: 3px; }
  div[id^=DGE][class=entry] entry .entry label {
    font-family: "Arial Narrow", sans-serif; }
  div[id^=DGE][class=entry] entry .usg {
    font-variant: small-caps;
    color: black; }
  div[id^=DGE][class=entry] entry a.bibl {
    font-family: "Arial Narrow", sans-serif;
    font-size: 90%;
    text-decoration: none; }
  div[id^=DGE][class=entry] entry a.exact {
    color: #A38323; }
  div[id^=DGE][class=entry] entry a.related, div[id^=DGE][class=entry] entry body.nav a.related {
    color: black; }
  div[id^=DGE][class=entry] entry span.listBibl {
    font-family: "Arial Narrow", sans-serif;
    padding-left: 1em; }
  div[id^=DGE][class=entry] entry a.ref {
    font-weight: bold; }
  div[id^=DGE][class=entry] entry a.grc {
    color: #B9121B;
    text-decoration: none; }
  div[id^=DGE][class=entry] entry a.ref b {
    color: #000;
    font-size: 80%; }
  div[id^=DGE][class=entry] entry div.res {
    margin: 1em 0 0 0; }
  div[id^=DGE][class=entry] entry address {
    font-style: normal;
    font-size: 13px; }
  div[id^=DGE][class=entry] entry #inverso {
    text-align: right; }
  div[id^=DGE][class=entry] entry body.lemmas, div[id^=DGE][class=entry] entry body.inverso {
    margin: 0;
    padding: 0 0 1em 0; }
  div[id^=DGE][class=entry] entry body.lemmas a, div[id^=DGE][class=entry] entry body.inverso a {
    padding: 0 1ex 0 1ex;
    line-height: 117%;
    text-decoration: none;
    color: #000000;
    display: block; }
  div[id^=DGE][class=entry] entry body.lemmas a:hover, div[id^=DGE][class=entry] entry body.lemmas a:active, div[id^=DGE][class=entry] entry body.lemmas a:focus,
  div[id^=DGE][class=entry] entry body.lemmas a.active, div[id^=DGE][class=entry] entry body.lemmas .hilite {
    text-decoration: none;
    background: #FFFFFF;
    font-weight: inherit;
    color: #B9121B; }
  div[id^=DGE][class=entry] entry body.lemmas a:focus, div[id^=DGE][class=entry] entry a.focus {
    border: #B9121B dotted 1px; }
  div[id^=DGE][class=entry] entry body {
    background-color: #353b90; }
  div[id^=DGE][class=entry] entry body.article, div[id^=DGE][class=entry] entry body.lemmas, div[id^=DGE][class=entry] entry body.nav {
    background: transparent; }
  div[id^=DGE][class=entry] entry body.article {
    padding: 0 2em 2em 2em; }
  div[id^=DGE][class=entry] entry #aside {
    color: #333333;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE',GradientType=1);
    /* for old IE */
    background-color: #FFFFFF;
    /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(left, white, #eeeeee);
    /* For Chrome and Safari */
    background-image: -moz-linear-gradient(left, white, #eeeeee);
    /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(left, white, #eeeeee);
    /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(left, white, #eeeeee);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, white, #eeeeee);
    /* Standard syntax; must be last */
    position: absolute;
    height: 100%;
    width: 270px;
    top: 0;
    bottom: 0px;
    overflow: hidden;
    padding: 0; }
  div[id^=DGE][class=entry] entry #header .grad,
  div[id^=DGE][class=entry] entry #footer {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#353b90',GradientType=1);
    /* for IE */
    background-color: #FFFFFF;
    /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(left, #eeeeee, #353b90);
    /* For Chrome and Safari */
    background-image: -moz-linear-gradient(left, #eeeeee, #353b90);
    /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(left, #eeeeee, #353b90);
    /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(left, #eeeeee, #353b90);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, #eeeeee, #353b90);
    /* Standard syntax; must be last */ }
  div[id^=DGE][class=entry] entry #header .grad,
  div[id^=DGE][class=entry] entry #header {
    height: 85px; }
  div[id^=DGE][class=entry] entry #header {
    margin: 0px 0px 0px 270px; }
  div[id^=DGE][class=entry] entry #header .grad {
    margin-right: 90px;
    color: #FFFFFF;
    text-align: right;
    font-size: 22px;
    font-weight: normal;
    line-height: 95%;
    padding-top: 10px; }
  div[id^=DGE][class=entry] entry #header .grad a {
    color: #FFFFFF; }
  div[id^=DGE][class=entry] entry #langBar {
    position: absolute;
    top: 70px;
    right: 90px;
    font-size: 12px; }
  div[id^=DGE][class=entry] entry #langBar a {
    padding-left: 1ex;
    padding-right: 1ex;
    border-right: 1px solid #FFFFFF;
    text-decoration: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  div[id^=DGE][class=entry] entry #langBar a:hover, div[id^=DGE][class=entry] entry #langBar a.active {
    background: #FFFFFF;
    color: #888888;
    text-decoration: none; }
  div[id^=DGE][class=entry] entry #header, div[id^=DGE][class=entry] entry #footer, div[id^=DGE][class=entry] entry #header a, div[id^=DGE][class=entry] entry #footer a {
    color: #FFFFFF; }
  div[id^=DGE][class=entry] entry #home {
    height: 63px;
    padding-left: 24px;
    line-height: 46px;
    font-size: 22px; }
  div[id^=DGE][class=entry] entry #home a {
    font-weight: normal;
    margin: 0; }
  div[id^=DGE][class=entry] entry #form {
    text-align: left;
    padding: 0px 0px 0px 24px;
    /* height:22px; needed for background */ }
  div[id^=DGE][class=entry] entry #nav {
    position: absolute;
    margin: 0;
    bottom: 23px;
    top: 85px;
    left: 24px;
    right: 0px;
    border: 1px #7698C9 solid;
    overflow: auto; }
  div[id^=DGE][class=entry] entry #nav iframe {
    position: absolute;
    right: 0; }
  div[id^=DGE][class=entry] entry body.xdge #nav,
  div[id^=DGE][class=entry] entry body.lmpg #nav {
    border-top: none;
    top: 112px; }
  div[id^=DGE][class=entry] entry #footer {
    position: fixed;
    left: 270px;
    right: 0px;
    font-size: 12px;
    line-height: 200%;
    height: 24px;
    padding: 0 0 0 1ex;
    text-align: center;
    bottom: 0; }
  div[id^=DGE][class=entry] entry #article {
    padding-left: 30px;
    position: absolute;
    left: 270px;
    right: 22px;
    bottom: 24px;
    top: 85px;
    overflow: auto;
    background-color: #FFFFFF;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px; }
  div[id^=DGE][class=entry] entry #article iframe {
    position: absolute;
    right: 0; }
  div[id^=DGE][class=entry] entry #q {
    border: none;
    border-left: 1px #7698C9 solid;
    border-right: 1px #7698C9 solid;
    border-bottom: 1px #7698C9 solid;
    width: 246px;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px 0 10px;
    margin: 0;
    /* IE7 only, box-model pb */
    *width: 224px; }
  div[id^=DGE][class=entry] entry ::-webkit-input-placeholder {
    color: #CCC !important;
    font-style: italic !important;
    font-weight: normal !important; }
  div[id^=DGE][class=entry] entry ::-moz-placeholder {
    color: #CCC !important;
    font-style: italic !important;
    font-weight: normal !important; }
  div[id^=DGE][class=entry] entry :-moz-placeholder {
    color: #CCC !important;
    font-style: italic !important;
    font-weight: normal !important; }
  div[id^=DGE][class=entry] entry :-ms-input-placeholder {
    color: #CCC !important;
    font-style: italic !important;
    font-weight: normal !important; }
  div[id^=DGE][class=entry] entry input.inverso {
    text-align: right; }
  div[id^=DGE][class=entry] entry #aside .tabs {
    height: 22px;
    border-bottom: 1px #7698C9 solid; }
  div[id^=DGE][class=entry] entry #header .tabs {
    float: left;
    margin-top: 53px;
    margin-left: 30px; }
  div[id^=DGE][class=entry] entry #header .tabs a:hover {
    border-bottom: 1px #7698C9 solid; }
  div[id^=DGE][class=entry] entry #header .tabs a.active,
  div[id^=DGE][class=entry] entry #header .tabs a {
    border-bottom: 1px transparent solid; }
  div[id^=DGE][class=entry] entry .tabs a, div[id^=DGE][class=entry] entry .but, div[id^=DGE][class=entry] entry .link {
    font-size: 13px; }
  div[id^=DGE][class=entry] entry .tabs a {
    border: 1px transparent solid;
    border-bottom: 1px #7698C9 solid;
    height: 22px;
    display: block;
    float: left;
    white-space: nowrap;
    line-height: 21px;
    text-decoration: none;
    padding: 0 1ex 5px 1ex;
    color: #666666 !important;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; }
  div[id^=DGE][class=entry] entry .tabs a:hover {
    border-bottom: 1px #7698C9 solid; }
  div[id^=DGE][class=entry] entry .tabs a.active {
    border-bottom: 1px #FFFFFF solid; }
  div[id^=DGE][class=entry] entry .tabs a.active,
  div[id^=DGE][class=entry] entry .tabs a:hover {
    background-color: #FFFFFF;
    color: #B9121A !important;
    border-left: 1px #7698C9 solid;
    border-top: 1px #7698C9 solid;
    border-right: 1px #7698C9 solid; }
  div[id^=DGE][class=entry] entry .but {
    border: 1px solid transparent;
    margin: 1px 2ex;
    padding: 2px 5px;
    background-color: transparent;
    text-decoration: none;
    line-height: 100%;
    text-decoration: none;
    color: #666666 !important;
    white-space: nowrap;
    border-radius: 7px; }
  div[id^=DGE][class=entry] entry .but:hover {
    background-color: #FFFFFF;
    text-decoration: none;
    border-color: #7698C9;
    color: #B9121A !important; }
  div[id^=DGE][class=entry] entry #go {
    margin: 1em;
    display: block; }
  div[id^=DGE][class=entry] entry #textos {
    margin: 1em 0 1em 0; }
  div[id^=DGE][class=entry] entry #textos div {
    font-family: "Arial Narrow", sans-serif;
    padding: 0 1ex; }
  div[id^=DGE][class=entry] entry #textos div a {
    font-family: "Palatino Linotype", NewAthenaUnicodeRegular, serif;
    color: #A38323; }
  div[id^=DGE][class=entry] entry #textos a.related {
    color: black; }
  div[id^=DGE][class=entry] entry body.busqueda {
    margin: 0;
    padding: 1em 1ex; }
  div[id^=DGE][class=entry] entry body.busqueda input.text {
    width: 95%; }
  div[id^=DGE][class=entry] entry #DGE, div[id^=DGE][class=entry] entry #home a {
    color: #000000;
    text-shadow: 1px 1px #FFFFFF; }
  div[id^=DGE][class=entry] entry #DGE {
    position: absolute;
    top: 10px;
    right: 12px;
    text-align: right;
    display: block; }
  div[id^=DGE][class=entry] entry #DGE:hover, div[id^=DGE][class=entry] entry #home a:hover {
    text-decoration: none;
    color: #353b90;
    text-shadow: 1px 1px #FFFFFF; }
  div[id^=DGE][class=entry] entry #footer a img {
    margin: 1px 2px 0 2px;
    padding: 2px; }
  div[id^=DGE][class=entry] entry #footer a:hover img {
    padding: 1px;
    border: 1px inset #DDDDDD; }
  div[id^=DGE][class=entry] entry .prevnext {
    border-bottom: 1px dotted #666666;
    height: 1em;
    margin-top: 0.4ex;
    margin-bottom: 3ex; }
  div[id^=DGE][class=entry] entry .prevnext a {
    color: #666666;
    background: #FFFFFF;
    border: 1px #FFFFFF solid;
    margin-top: 0.2ex;
    line-height: 110%;
    border-radius: 5px; }
  div[id^=DGE][class=entry] entry .prevnext a:hover {
    text-decoration: none;
    color: #B9121B;
    background-color: #FBFBFB;
    border: 1px solid #D6D4D4; }
  div[id^=DGE][class=entry] entry .prevnext .prev {
    float: left;
    padding-left: 1px;
    padding-right: 3px; }
  div[id^=DGE][class=entry] entry .prevnext .next {
    float: right;
    padding-right: 1px;
    padding-left: 3px; }
  div[id^=DGE][class=entry] entry menu.tree {
    padding: 0 0 0 1ex;
    margin: 1em 0 1em 0;
    list-style: none; }
  div[id^=DGE][class=entry] entry .tree a {
    color: black;
    text-decoration: none;
    border-bottom: none; }
  div[id^=DGE][class=entry] entry menu a:hover, div[id^=DGE][class=entry] entry .tree a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #FFFFFF; }
  div[id^=DGE][class=entry] entry .tree ul, div[id^=DGE][class=entry] entry .tree menu {
    list-style-type: none;
    padding: 0 0 0 0 !important;
    margin: 2px 0 2px 0 !important; }
  div[id^=DGE][class=entry] entry .tree li {
    margin: 0;
    background-repeat: no-repeat;
    background-position: 2px 4px;
    list-style-image: none !important;
    list-style: none;
    padding: 1px;
    border: 1px solid transparent; }
  div[id^=DGE][class=entry] entry .tree li:hover {
    border-left: dotted 1px #AAA; }
  div[id^=DGE][class=entry] entry .tree li {
    padding-left: 14px;
    background-image: url("img/o.png"); }
  div[id^=DGE][class=entry] entry .tree mark, div[id^=DGE][class=entry] entry .tree .mark, div[id^=DGE][class=entry] entry .tree .hi {
    background: #FFFFFF; }
  div[id^=DGE][class=entry] entry .tree li.plus {
    background-image: url("img/plus.png"); }
  div[id^=DGE][class=entry] entry .tree li.minus {
    background-image: url("img/minus.png"); }
  div[id^=DGE][class=entry] entry .tree .ul {
    padding: 0.5ex 0.5ex 1ex 1em; }
  div[id^=DGE][class=entry] entry .tree li.minus ul, div[id^=DGE][class=entry] entry .tree li.minus .ul, div[id^=DGE][class=entry] entry .tree li.minus menu {
    display: block; }
  div[id^=DGE][class=entry] entry .tree li.plus ul, div[id^=DGE][class=entry] entry .tree li.plus .ul, div[id^=DGE][class=entry] entry .tree li.plus menu {
    display: none; }
  div[id^=DGE][class=entry] entry li a.here {
    background-color: #FFFFFF;
    font-weight: bold;
    color: #000; }
  div[id^=DGE][class=entry] entry li.here {
    background-color: #FFFFFF;
    color: #000;
    border: 1px solid #CCCCCC; }
  div[id^=DGE][class=entry] entry #nav li.here a:hover {
    background-color: #EEEEEE; }
  @media print {
    div[id^=DGE][class=entry] entry #aside, div[id^=DGE][class=entry] entry #form, div[id^=DGE][class=entry] entry #footer {
      display: none; }
    div[id^=DGE][class=entry] entry #article {
      position: static; } }
