/**
<h1>DGE site, presentation</h1>

Structure of this file : from generic to specific (last writing win)

 * fonts
 * default html
 * generic classes for simple text
 * classes for dictionary article
 * layout

 
 
<h2>Fonts</h2>

*/

/* Fonst to download, for greek */
/* [FG] seems hard for the network for now, try to download from Google */
div[id^=DGE][class=entry] article {
    @font-face {
      font-family: 'NewAthenaUnicodeRegular';
      src: url('newathu403-webfont.woff') format('woff');
    }

    /* Default font */
    body {
      font-family: "Palatino Linotype", "Times New Roman", 'NewAthenaUnicodeRegular', serif;
      font-size:15px;
    }
    /* Interface font */
#footer,
#nav,
#langBar,
    .tabs,
    .num,
    .link {
      font-family:"Arial Unicode MS", sans-serif;
    }

    /* Greek font */
    body.lemmas a, body.inverso a, #DGE, .grc, #home, #header, .lemma, #form input , .prev, .next{ font-family: "Palatino Linotype", "Times New Roman", NewAthenaUnicodeRegular, serif; }

    /* Serif font */
    q,
    blockquote,
    .cit {
      font-family:"Palatino Linotype", Times, "Georgia", Roman, FreeSerif,  "DejaVu Serif", serif;
    }

    /**
    <h2>HTML generic</h2>
     
     Some html elements are interpreted in the context of dictionaries.
     */
    /* needed hack for layout */
    html, body { height: 100%; margin:0; padding:0; }/* IE, DONOT width:100%; */
    * {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
          -ms-box-sizing: border-box;
              box-sizing: border-box;
    }
    /* seems needed to not have a scrollbar in some places */
    iframe {margin-bottom:-5px;margin:0;padding:0;}


    /* Restore font-size inheritence */
    table,
    pre {
      font-size:inherit;
    }
    /* Default tables with no cellspacing no cellpadding */
    table { 
      border-spacing:0;
      border-collapse:collapse;
    }
    td ,
    th {
      padding:0;
    }
    /* lien version langues*/
    div.link {
    float: right;
    }
    /* No border around image in a link */
    a img {
      border:none;
    }
    /*  */
    sup,
    sub {
      height: 0;
      line-height:1.2em;
      vertical-align: baseline;
      position: relative;
      z-index:inherit;
      font-variant:normal;
      font-size:75%;
    }
    sup {
      _vertical-align: top;
      bottom: 1.2ex;
      font-size: 0.58em;
    }

    sub {
      _vertical-align: bottom;
      top: .5ex;
    }

    /* strip auto english quotee in firefox */
    q {
      quotes:"" "";
    }
    /* Used for bullets senses */
    tt {
      font-family:"DejaVu Sans Mono", monospace;
    }
    h1 {
      color:#B9121A;
      font-weight:normal;
      margin-top:1ex;
      margin-right: 1ex;
    }
    h1 a {
      color:inherit;
    }
    h2 {
      color:#006040;
    }
    h3 {
      color:#B91219;
    }
    h4 {
      color:#004080;
    }
    menu {
      font-size:13px;
      list-style-type:none;
    }
    menu li {
      list-style-type:none;
    }
    menu a {
      text-decoration:none;
      color:#333;
    }
    menu {
      padding:0;
      margin:1ex 0px 1ex 1.5em;
    }
    menu menu {
      margin-left:1em;
      padding-left:1ex;  
    }

    a {
      text-decoration:none;
    }
    a:hover {
      text-decoration:underline;
    }
    a:focus {
      outline:none;
    }
    form {
      margin:0;
    }
    form label {
      white-space:nowrap;
    }
    hr {
      color:#7698C9;
      border-top:none;
    }
     
     hr.entry {
      margin: 4em;
      background-color: #7698C9;
    }
      
    p {
      text-align:justify;
      padding-right:4em;
    }
    body.lemmas p {text-align:left;margin:1ex;padding:0;} 
    p.small {
        font-size: 12px;
    }
    img.pub {
        margin: 30px 30px 20px 0px;
    }
    .clear
    {
    clear:both;
    }
    /* Say that a <q> in a <blockquote> is the quote, and <cite> is a reference */
    blockquote q {
      display:block;
    }
    /** definition and context translation */
    dfn {
      font-style: italic;
      font-size: 105%;
      color: #B9121B;
    }
    .tr {
         font-family:"Palatino Linotype", Times, "Georgia", Roman, FreeSerif,  "DejaVu Serif", serif;
    }
    /*no more used
    dfn q {
      font-style:normal;
      color: black;
    }*/

    /**normal in translations*/
    dfn i {
      font-style:normal;
      color: black;
      /*font-family:"Arial Unicode MS", sans-serif;*/
    }
    .tr i {
      font-style:normal;
      color: black;
      /*font-family:"Arial Unicode MS", sans-serif;*/
    }

    /**
    <h2>text classes</h2>
    */
    .b {
      font-weight: bold;
    }

    /**
    <h2>Dictionary entry</h2> 
     */

    .cit a:hover {
      background:#FFF ;
    }



    /* Sense hilited */
    .entry div.hilite,
    mark {
      background: #FFFF80;
    }



    div.entry {
      /* margin here will modifiy container */
      padding:0 0 1em 0;
    }

    div.sense {
      margin-bottom:1em;
      padding:0.5ex 0 0.5ex 1ex;
    }

    .sense .sense {
      margin-top:0.5em;
      text-indent: 2ex;
    }

    .sense .sense .sense {
      text-indent: 4ex;
    }
    .sense .sense .sense .sense {
      text-indent: 6ex;
    }
    div.p {
      margin:1ex 0;
    }
    /* blockquote container with left border */
    div.lmpgcit {
      border-left:solid 1px #B9121B;
      margin-top: 1.5ex;
    }
    div.cit {
        display: inline;
    }
    blockquote.cit {
      background: #F3F3F3;
      padding:0.5ex 1ex 0.5ex 1ex;
      line-height:105%; /* group more the lines of same <cit> */
      text-indent:0;
      margin:0 2em 1ex 0;  /* to separe 2 <cit>, better as bottom for results */
    }
    .entry blockquote.hilite {
      background: #DADBEF;
      /*border-right:solid 5px #2F4F4F;
      border-left:solid 5px #2F4F4F;*/
    }
    /** short view, no quotes */
    div.short div.lmpgcit {
      display:none;
    }
    div.short div.sense {
      padding:0;
      margin-top:0;
      margin-bottom:0;
    }
    div.short div.sense div.sense {
      margin-top:0;
    }

    /* For dev, show text to index */
    .fulltext {
      color:blue;
    }

    /*note not in italic*/
    em .note {
    font-style: normal;
    }

    /* ? no more Implemented */
    div.bibl {
      text-align: right;
      font-family: "Arial Narrow", sans-serif;
      font-size: 90%;
    }

    div.form {
      font-size:24px;
      clear:both;
    }
    div.morphology, .etym {
      padding:0.5em;
      border:1px dotted #e6e6e6;
      text-align:justify;
      font-size: 14px;
      background-color:#EEEEEE;
      color:#333333;
      overflow:auto; /* for IE7 gradient */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE',GradientType=0); /* for IE */
      background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE); /* for webkit browsers */
      background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE); /* for firefox 3.6+ */
      background: o-linear-gradient(top, #FFFFFF, #EEEEEE); /* for opera 11.1+ */
    }
    .morphology{
        margin-top: 1.5em;
    }
    .etym{
        margin-top: 3em;
    }
    .alolema,  .etimologia {
        color:#353B90;
    }
    .grafia, .DMic {
        color:#006600;
    }
    .prosodia {
        color:#917C4B;
    }
    .morfologia {
        color:#B9121A;
    }

    .orth {
      font-weight: bold;
      font-size: 105%;
    }

    .lemma, .lemma2 {
      color: #B9121B;
      font-size: 24px;
      line-height:15px; /* preserve line height */
      /*margin-right:1ex;*/
    }
    .lemma2 {
        margin-left:0.5ex;
    }
    .latin {
        font-style:italic
    }
    .snip .lemma {
      font-weight:bold;
      font-size:16px;
    }
    .snip th {
      padding:0 1ex;
    }
    /* add a line break for each variant 
    .variant:before {
      content: "";
      display:block;
    }*/
    .variant {
      line-height:21px; /* preserve line height */
      color: #B9121B;
      /*margin-right:1ex;
      margin-left: 1ex;*/
    }

    /*.gram {
      font-size: 24px;
    }*/

    .num {
      /*background-color:#999;*/
      color:#353B90;
             /*/ *border-radius: 3px 3px 3px 3px;
         -moz-border-radius: 3px;
      -webkit-border-radius: 3px;*/
        font-size: 15px;
        font-weight: bold;
        padding: 0 4px 0 20px;
    }
    .start {
        padding-left: 0;
    }
    num + num  {
        padding-right: 3px;
    }
    /* label in articles */
    .entry label {
    }
    .usage1,
    .usage2 {
      font-size: 90%;
      color: #A38323;
    }
    .cit .usg {
      font-family: "Arial Narrow", sans-serif;
      font-size: 85%;
      color: black;
    }



    /* Bibliographic codes */
    a.bibl {
      font-family: "Arial Narrow", sans-serif;
      font-size: 90%;
      text-decoration:none;
    }
    a.exact {
      color: #A38323;
    }
    /* related reference (as a biblio ref, or lemma pointer ) */
    a.related,
    body.nav a.related {
      color: black;
    }
    /* before the first bibl, an rempty element, maybe used as a spacer or a break line */
    span.listBibl {
      font-family: "Arial Narrow", sans-serif;
      padding-left:1em;
      /* on another line [2010-04-15] SB : « pas beau »
      display:block;
      text-align:right;
      */
    }
    /* Cross reference */
    a.ref {
      font-weight: bold;
    }
    /* Lemma link in a search result */
    a.grc {
      color:#B9121B;
      text-decoration:none;
    }
    /*no underline on morphological labels*/
    .morphology a, .etym a {
        text-decoration:none;
    }

    /* num in cross reference */
    a.ref b {
      color:#000;
      font-size:80%;
    }
    div.res {
      margin:1em 0 0 0;
    }
    /* no colors in result snippet */
    div.snip {

    }

    /**address tag adaptated*/
    address {
      font-style:normal;
      font-size: 13px;
      }
      
    /**
     * Layout
     */

#inverso{
      text-align:right;
    }

    body.lemmas,
    body.inverso {
      margin:0;
      padding:0 0 1em 0;
    }
    body.lemmas a,
    body.inverso a {
      padding:0 1ex 0 1ex;
      line-height:117%;
      text-decoration:none;
      color:#000000;
      display:block;
    }
    body.lemmas a:hover,
    body.lemmas a:active,
    body.lemmas a:focus,
    body.lemmas a.active,
    body.lemmas .hilite {
      text-decoration:none;
      background: #FFFFFF;
      font-weight:inherit;
      color: #B9121B;
    }
    body.lemmas a:focus,
    a.focus {
      border: #B9121B dotted 1px;
    }


    body {
      background-color:#353b90;
    }
    body.article,
    body.lemmas, 
    body.nav {
      background:transparent;
    }
    body.article{
      padding:0 2em 2em 2em;
    }

#aside {
      color:#333333;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EEEEEE',GradientType=1); /* for old IE */
      background-color: #FFFFFF; /* fallback color if gradients are not supported */
      background-image: -webkit-linear-gradient(left, #FFFFFF, #EEEEEE); /* For Chrome and Safari */
      background-image:    -moz-linear-gradient(left, #FFFFFF, #EEEEEE); /* For old Fx (3.6 to 15) */
      background-image:     -ms-linear-gradient(left, #FFFFFF, #EEEEEE); /* For pre-releases of IE 10*/
      background-image:      -o-linear-gradient(left, #FFFFFF, #EEEEEE); /* For old Opera (11.1 to 12.0) */ 
      background-image:         linear-gradient(to right, #FFFFFF, #EEEEEE); /* Standard syntax; must be last */
      
      position:absolute;
      height:100%;
      width:270px;
      top:0;
      bottom:0px;
      overflow: hidden;
      padding:0;
    }
#header .grad,
#footer {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#353b90',GradientType=1); /* for IE */
      background-color: #FFFFFF; /* fallback color if gradients are not supported */
      background-image: -webkit-linear-gradient(left, #EEEEEE, #353b90); /* For Chrome and Safari */
      background-image:    -moz-linear-gradient(left, #EEEEEE, #353b90); /* For old Fx (3.6 to 15) */
      background-image:     -ms-linear-gradient(left, #EEEEEE, #353b90); /* For pre-releases of IE 10*/
      background-image:      -o-linear-gradient(left, #EEEEEE, #353b90); /* For old Opera (11.1 to 12.0) */ 
      background-image:         linear-gradient(to right, #EEEEEE, #353b90); /* Standard syntax; must be last */
    }
#header .grad,
#header {
      height:85px;
    }
#header {
      margin:0px 0px 0px 270px;
    }
#header .grad {
      margin-right:90px;
      color:#FFFFFF;
      text-align:right;
      font-size:22px;
      font-weight:normal;
      line-height:95%;
      padding-top:10px;
    }
#header .grad a {
      color:#FFFFFF;
    }
#langBar {
      position:absolute;
      top:70px;
      right:90px;
      font-size:12px;
    }
#langBar a {
      padding-left:1ex;
      padding-right:1ex;
      border-right:1px solid #FFFFFF;
      text-decoration:none;
      border-top-left-radius:3px;
      border-top-right-radius:3px;
    }
#langBar a:hover,
#langBar a.active {
      background:#FFFFFF;
      color:#888888;
      text-decoration:none;
    }
#header,
#footer,
#header a,
#footer a {
      color:#FFFFFF;
    }
#home {
      height:63px;
      padding-left:24px;
      line-height:46px;
      font-size:22px;
    }
#home a {
      font-weight: normal;
      margin:0;
    }

#form {
      text-align:left;
      padding:0px 0px 0px 24px;
      /* height:22px; needed for background */
    }

#nav {
      position:absolute;
      margin:0;
      bottom:23px;
      top:85px;
      left:24px;
      right:0px;
      border:1px #7698C9 solid;
      overflow:auto;
    }
#nav iframe {
      position:absolute;
      right:0;
    }
    /* nav without search form in site */
    body.xdge #nav,
    body.lmpg  #nav{
      border-top:none;
      top:112px;
    }
#footer {
      position:fixed;
      left:270px;
      right:0px;
      font-size:12px;
      line-height:200%;
      height:24px;
      padding:0 0 0 1ex;
      text-align:center;
      bottom:0;
    }

#article {
      /*
      margin:0px 22px 24px 270px;
      padding: 0 0 0 30px;
      */
      padding-left:30px;
      position:absolute;
      left:270px;
      right:22px;
      bottom:24px;
      top:85px;
      overflow:auto;
      background-color:#FFFFFF;
      border-bottom-right-radius:12px;
      border-top-right-radius:12px;
    }
#article iframe {
      position:absolute;
      right:0;
    }

#q {
      border:none;
      border-left:1px #7698C9 solid;
      border-right:1px #7698C9 solid;
      border-bottom:1px #7698C9 solid;
      width:246px;
      font-size:20px;
      font-weight:bold;
      padding:0 10px 0 10px;
      margin:0;
      /* IE7 only, box-model pb */
      *width:224px;
    }
    /* the default value in input, lines should be separated to work */
    ::-webkit-input-placeholder {color:#CCC !important; font-style:italic !important; font-weight:normal !important; } 
    :-moz-placeholder {color:#CCC !important; font-style:italic !important; font-weight:normal !important; } 
    :-ms-input-placeholder {color:#CCC !important; font-style:italic !important; font-weight:normal !important;  } 
    input.inverso {
      text-align:right;
    }
    /* tabs in sidebar */
#aside .tabs {
      height:22px;
      border-bottom:1px #7698C9 solid;
    }
    /* tabs in header */
#header .tabs {
      float:left;
      margin-top:53px;
      margin-left:30px;
    }
#header .tabs a:hover {
      border-bottom:1px #7698C9 solid;
    }
#header .tabs a.active,
#header .tabs a {
      border-bottom:1px transparent solid;
    }
    /* the first tab */
#tab1 {
    }
    .tabs a,
    .but,
    .link {
      font-size:13px;
    }
    /* the tabs in left bar */
    .tabs a {
      border:1px transparent solid;
      border-bottom:1px #7698C9 solid;
      height:22px;
      display:block;
      float:left;
      white-space:nowrap;
      line-height:21px;
      text-decoration:none;
      padding:0 1ex 5px 1ex;
      color:#666666 !important;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }
    .tabs a:hover {
      border-bottom:1px #7698C9 solid;
    }
    .tabs a.active {
      border-bottom:1px #FFFFFF solid;
    }
    .tabs a.active,
    .tabs a:hover {
      background-color:#FFFFFF;
      color:#B9121A !important;
      border-left:1px #7698C9 solid;
      border-top:1px #7698C9 solid;
      border-right:1px #7698C9 solid;
    }
    /* the button */
    .but {
      border: 1px solid transparent;
      margin: 1px 2ex;
      padding: 2px 5px;
      background-color:transparent;
      text-decoration: none;
      line-height: 100%;
      text-decoration: none;
      color: #666666 !important;
      white-space: nowrap;
      border-radius: 7px;
    }
    .but:hover {
      background-color: #FFFFFF;
      text-decoration:none;
      border-color:#7698C9;
      color:#B9121A !important;
    }
#go {
      margin:1em;
      display:block;
    }

    /* A bibl line in the nav pannel */
#textos {
      margin:1em 0 1em 0;
    }
    /* Reproduce the <bibl> style*/
#textos div {
      font-family: "Arial Narrow", sans-serif;
      padding:0 1ex;
    }
    /* colors of lemmas exact and related in Textos*/
#textos div a {
      font-family: "Palatino Linotype", NewAthenaUnicodeRegular, serif;
      color:#A38323;
    }
#textos a.related {
      color: black;
    }
    body.busqueda {
      margin:0;
      padding:1em 1ex;
    }
    body.busqueda input.text {
      width:95%;
    }


#DGE,
#home a {
      color:#000000;
      text-shadow:1px 1px #FFFFFF;
    }
#DGE {
      position:absolute;
      top:10px;
      right:12px;
      text-align:right;
      display:block;
    }
#DGE:hover,
#home a:hover {
      text-decoration:none;
      color:#353b90;
      text-shadow:1px 1px #FFFFFF;
    }

#footer a img {
      margin:1px 2px 0 2px;
      padding:2px;
    }
#footer a:hover img {
      padding:1px;
      border:1px inset #DDDDDD;
    }

    .prevnext{border-bottom:1px dotted #666666;height:1em; margin-top:0.4ex; margin-bottom:3ex;}
    .prevnext a {color:#666666;background:#FFFFFF; border:1px #FFFFFF solid; margin-top:0.2ex; line-height:110%; border-radius:5px; }
    .prevnext a:hover{text-decoration:none;color:#B9121B;background-color:#FBFBFB;border:1px solid #D6D4D4; }
    .prevnext .prev {float:left; padding-left:1px; padding-right:3px;}
    .prevnext .next {float:right;padding-right:1px; padding-left:3px;}


    /* the tree in the site */

    menu.tree {
        padding:0 0 0 1ex;
        margin:1em 0 1em 0;
        list-style:none;
    }
    .tree a {
        color: black;
        text-decoration: none;
        border-bottom:none;
    }
    menu  a:hover,
    .tree a:hover {
      text-decoration:none;
        color:#000000;
      background-color:#FFFFFF;
    }
    .tree ul,
    .tree menu {
        list-style-type:none;
        padding:0 0 0 0 !important;
        margin:2px 0 2px 0 !important;
    }
    .tree li {
        margin: 0;
        background-repeat: no-repeat;
        background-position:2px 4px;
        list-style-image:none !important;
        list-style:none;
        padding:1px;
        border:1px solid transparent;
    }
    .tree li:hover{
        border-left:dotted 1px #AAA;
    }
    /* conserver dès le premier niveau */
    .tree li {
        padding-left: 14px;
        background-image:url('img/o.png');
    }

    .tree mark,
    .tree .mark,
    .tree .hi {
        background:#FFFFFF;
    }
    .tree li.plus {
        background-image:url('img/plus.png');
    }
    .tree li.minus {
        background-image:url('img/minus.png');
    }
    .tree .ul {
        padding:0.5ex 0.5ex 1ex 1em;
    }
    .tree li.minus ul,
    .tree li.minus .ul,
    .tree li.minus menu {
        display:block;
    }
    .tree li.plus ul,
    .tree li.plus .ul,
    .tree li.plus menu {
        display:none;
    }
    li a.here {
        background-color:#FFFFFF;
        font-weight:bold;
        color:#000;
    }
    li.here {
        background-color:#FFFFFF;
        color:#000;
        border:1px solid #CCCCCC;
        /* margin-left:-5px; padding-left:5px; pb en tree */
    }
#nav li.here a:hover {
        background-color:#EEEEEE;
    }


    @media print {
      #aside,
      #form,
      #footer {
        display:none;
      }
      #article {
        position:static;
      }
    }
}
