/* encoding="UTF-8"

Du Cange TEI, direct rendering with CSS
 
Tested on :
* Oxygen
* Firefox
To test :
* XXE
* 

@namespace "http://www.tei-c.org/ns/1.0";
 */
/* strip */
div[id^=DuCange].entry entry {
  /* Global presentation */
  /* classical default blocks */
  /* tables */
  /* lists */
  /* default rendering */
  /* inlines */
  /* specific to Du Cange */
  /* 
  for edition
  ref:before{
      color: gray;
      content:'[' attr(target) attr(cRef) ' ';
  }
  ref:after{
      color: gray;
      content:']';
  }
  DOUTE {
    display:block;
    color:#FF0000;
    background-color:#FFFFCC;
  }
  */ }
  div[id^=DuCange].entry entry teiHeader,
  div[id^=DuCange].entry entry cb,
  div[id^=DuCange].entry entry pb {
    display: none; }
  div[id^=DuCange].entry entry TEI {
    padding: 1em; }
  div[id^=DuCange].entry entry TEI,
  div[id^=DuCange].entry entry text,
  div[id^=DuCange].entry entry front,
  div[id^=DuCange].entry entry group,
  div[id^=DuCange].entry entry back,
  div[id^=DuCange].entry entry body,
  div[id^=DuCange].entry entry l,
  div[id^=DuCange].entry entry p,
  div[id^=DuCange].entry entry head,
  div[id^=DuCange].entry entry cit,
  div[id^=DuCange].entry entry quote {
    display: block; }
  div[id^=DuCange].entry entry table {
    text-align: center;
    display: table;
    margin: 1em; }
  div[id^=DuCange].entry entry table > head {
    display: table-caption;
    font-style: italic;
    margin-bottom: 6pt; }
  div[id^=DuCange].entry entry row {
    display: table-row; }
  div[id^=DuCange].entry entry cell {
    display: table-cell;
    /********************************************* Modif Guillaume
    border: 1px solid #EEEFEE;*/
    border: 1px solid #dadada;
    padding: 3px;
    color: inherit;
    background-color: inherit; }
  div[id^=DuCange].entry entry list {
    display: block;
    list-style-type: disc;
    list-style-position: outside;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-top: 1em; }
  div[id^=DuCange].entry entry item {
    display: list-item;
    margin-left: 12pt; }
  div[id^=DuCange].entry entry *[rend="b"] {
    font-weight: bold; }
  div[id^=DuCange].entry entry *[rend="i"] {
    font-style: italic; }
  div[id^=DuCange].entry entry *[rend="sc"] {
    font-variant: small-caps;
    /* noXXE */ }
  div[id^=DuCange].entry entry *[rend="sup"] {
    vertical-align: super;
    font-size: smaller; }
  div[id^=DuCange].entry entry *[rend="sub"] {
    vertical-align: sub;
    font-size: smaller; }
  div[id^=DuCange].entry entry *[rend="u"] {
    text-decoration: underline; }
  div[id^=DuCange].entry entry *[xml|lang="grc"] {
    font-family: "Arial Unicode MS", "Georgia Greek", "DejaVu Serif"; }
  div[id^=DuCange].entry entry mentioned,
  div[id^=DuCange].entry entry q {
    font-style: italic; }
  div[id^=DuCange].entry entry ref {
    /********************************************* Modif Guillaume
    color:#66B;*/
    color: #666699; }
  div[id^=DuCange].entry entry entry {
    display: block;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #CCCCCC;
    max-width: 80ex; }
  div[id^=DuCange].entry entry dictScrap {
    display: block;
    margin-top: 1em;
    font-family: "Trebuchet MS", "Verdana", sans-serif;
    font-size: 13px;
    color: #333333; }
  div[id^=DuCange].entry entry quote {
    /* 
      font-family: Palatino, "Georgia", "DejaVu Serif",Times, "Times New Roman", serif; 
      color:#006532;
      padding-bottom:0.5ex;
      padding-left:0.5ex;
      background-color:#EEEEEE;
    */
    font-size: 14px;
    text-align: justify;
    color: #000000;
    padding-top: 0.5ex;
    padding-bottom: 0.5ex;
    padding-left: 0.5ex;
    margin-left: 3px;
    border-left: 2px solid #FFCCCC;
    line-height: 150%; }
  div[id^=DuCange].entry entry quote note {
    font-style: italic; }
  div[id^=DuCange].entry entry dictScrap:before {
    content: '◊ ';
    font-weight: bold;
    color: #888888;
    font-family: monospace, sans-serif; }
  div[id^=DuCange].entry entry dictScrap form {
    display: inline;
    /********************************************* Modif Guillaume
    color:blue;*/
    color: #A73136; }
  div[id^=DuCange].entry entry form {
    color: #A73136; }
  div[id^=DuCange].entry entry ref {
    font-style: italic; }
